body{
  margin: 0;
  padding: 0;
  background-image: url(../img/bg2.jpg);
 background-size: cover;
}

header{
	height: 100%;
	margin: 0;
	background-image: url(../img/portfolio.png);
	background-size: 100% 100%;
	
	height: auto;
}

#sc{
	padding: 1% 1%; 
}

.isc{
	margin-left: 10px;
	width: 27px;
	opacity: 0.75;
}

.isc:hover{
	opacity: 1;
}



.foto{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

#namecomp{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 17%;
	color: #fff;
}



.kps{
max-width: 50%;
margin: 5% 20%;
border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.75);
padding-right: 15px;
padding-left: 10px;
padding-top: 5px; 
padding-bottom: 5px;
}

.kps p{
	font-size: 16px;
}
